{% extends "base.html" %}
{% block title %}Livre de la pierre{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Légende de Tamamo no Mae</h1>
    <div class="explanation">
    <p>
        explication   
    </p>
    </div>
{% endblock %}
    
<!-- notebook content -->
{% block left_panel1 %}
Première page à gauche.
{% endblock %}
{% block right_panel1 %}
Première page à droite.
{% endblock %}

{% block left_panel2 %}
Deuxième page à gauche.
{% endblock %}
{% block right_panel2 %}
Deuxième page à droite.
{% endblock %}
    

